@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans',sans-serif;
}
html, body {
    height: 100%;
    background-color:  rgb(24, 49, 83);
}
.clear{
    clear: both;
}
.center{
    max-width: 960px;
    height: 65px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    padding: 5px 2%;
    position: fixed;
    background-color: #183153ce;
    z-index: 999;
}
header .logo{
padding: 20px 10px;
float: left;
}
.conteiner{
    max-height: 1200px;
    margin: 0 auto;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu-desktop{
width: 50%;

}
.menu-desktop ul{
    float: right;
    position: absolute;
    left: 58%;
}
.menu-desktop ul li{
    display: inline-block;
    margin:15px 20px;
    font-size: 20px;
}
.menu-desktop ul li a{
    color: white;
    text-decoration: none;
    border-right: 2px solid #183153ce;
    padding-right: 2px;
}
.menu-desktop ul li a:hover{
    color: #ffd43b;
    border-right: 2px solid #ffd43b;
    padding-right: 2px;
    
}
.menu-mobile{display: none;text-align: right;width: 50%;}
.menu-mobile svg{
    float: right;
    position: absolute;
    left: 85%;
    top: 25%;
    cursor: pointer;
    color:white;
    font-size: 30px;
}
.menu-mobile svg:hover{
    color: #ffd43b;
}
.menu-mobile ul{
    background-color:  #183153ce;
    border-radius: 15px;
    opacity: 0;
    transition: 1s;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
}
.menu-mobile ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 2px 0;
    display: block;
    border-right: 2px solid #183153ce;
}
.menu-mobile ul li a:hover{
        color: #ffd43b;
        border-right: 2px solid #ffd43b;
}
.show-menu{
    opacity: 1 !important;
}

@media screen and (max-width: 790px){
    .menu-mobile{display: block;}
    /*.menu-mobile ul{display: none;}*/
    .menu-desktop{display: none;}
}
.banner{
    display: block;
    width: 100%;
    height: 800px;
    background-image:url('../imgs/bg-ft.jpg') ;
    background-size: cover;
    /*background-position: center;*/
}
.text-center{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 38%;
    /*left:3%;*/
    padding-left: 3%;
}
.call-text{
    width: 480px;
    text-align: center;
}
.call-text > h2{
    padding: 1%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: block;
    top: 40%;
    box-shadow: 15px 5px 25px black;
    border-radius: 10px;
    text-align: center;
}
.call-text h3{
    color:white;
    float: right;
}
.call-text h3:hover{
    cursor: pointer;
    color: #ffd43b;
    text-decoration: underline;
}
.btn{
    display: inline block;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white ;
    font-weight: bold;
    position: relative;

}
.btn:hover{
    cursor: pointer;
    color: #ffd43b;
    border: 2px solid #ffd43b;
    box-shadow: 1px 1px 5px lightgoldenrodyellow;
}
.content-btn{
    padding: 30px;
    margin-left: 50px ;
}
@media screen and (max-width: 790px){
    .call-text{width: 90%;}
}
section.difs {
    padding-bottom: 50px;
    color: white;
}
section.difs .container > h2 {
    font-size: 29px;
    text-align: center;
    padding: 45px 0;
}
section.difs .box-single-position {
    width: 100%;
    text-align: center;
    padding: 0 3% 20px 3%;
    display: flex;
}
section.difs .box-single {
    width: 30%;
    padding: 30px 0;
    border-radius: 10px;
    background-color: rgb(32, 65, 110);
    transition: 0.5s;
    margin: 4%;
    border: 3px solid rgb(32, 65, 110);
}
section.difs .box-single:hover{
    border: 3px solid #ffd43b;
    color: #ffd43b;
    box-shadow: 1px 1px 5px lightgoldenrodyellow;
}
section.difs .box-single .box-icon svg {
    font-size: 65px;
    color: #ffd43b;
}
section.difs .box-single h2 {
    padding: 20px 0px 15px 0;
}
section.difs .box-single p {
    padding: 0 20px;
}
section.difs .box-single p strong {
    color: #ffd43b;
}
@media screen and (max-width: 790px){
    section.difs .box-single-position{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    section.difs .box-single{
        width: 100%;
        margin: 4%;
    }
}