@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Open Sans',sans-serif;
}
html, body {
    height: 100%;
    background-color:  rgb(24, 49, 83);
}
.clear{
    clear: both;
}
.center{
    max-width: 960px;
    height: 65px;
    padding: 0 2%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
header {
    width: 100%;
    padding: 5px 2%;
    position: fixed;
    background-color: #183153ce;
    z-index: 999;
}
.container{
    margin: 0 auto;
}
.logo{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.menu-desktop{
width: 50%;

}
.menu-desktop ul{
    float: right;
    position: absolute;
    left: 58%;
}
.menu-desktop ul li{
    display: inline-block;
    margin:15px 20px;
    font-size: 20px;
}
.menu-desktop ul li a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    border-right: 2px solid transparent;
    padding-right: 2px;
}
.menu-desktop ul li a:hover{
    color: #ffd43b;
    border-right: 2px solid #ffd43b;
    padding-right: 2px;
    
}
.menu-mobile{display: none;text-align: right;width: 50%;}
.menu-mobile svg{
    float: right;
    position: absolute;
    left: 85%;
    top: 25%;
    cursor: pointer;
    color:white;
    font-size: 30px;
}
.menu-mobile svg:hover{
    color: #ffd43b;
}
.menu-mobile ul{
    background-color:  #183153ce;
    border-radius: 15px;
    transition: 1s;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
}
.menu-mobile ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 2px 0;
    display: block;
    border-right: 2px solid #183153ce;
}
.menu-mobile ul li a:hover{
        color: #ffd43b;
        border-right: 2px solid #ffd43b;
}

@media screen and (max-width: 790px){
    .menu-mobile{display: block;}
    .menu-mobile ul{display: none;}
    .menu-desktop{display: none;}
}
.show-menu{
    display: block !important;
}
.banner{
    display: block;
    width: 100%;
    height: 800px;
    background-image:url('../imgs/bg-ft.jpg') ;
    background-size: cover;
    /*background-position: center;*/
}
.text-center{
    width: 100%;
    padding: 20px 0;
    position: absolute;
    top: 38%;
    /*left:3%;*/
    padding-left: 3%;
}
.call-text{
    width: 480px;
    text-align: center;
}
.call-text > h2{
    padding: 1%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    display: block;
    top: 40%;
    box-shadow: 15px 5px 25px black;
    border-radius: 10px;
    text-align: center;
}
.call-text h3{
    color:white;
    float: right;
    transition: 0.5s;
}
.call-text h3:hover{
    cursor: pointer;
    color: #ffd43b;
    text-decoration: underline;
}
.btn{
    display: inline block;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white ;
    font-weight: bold;
    position: relative;
    transition: 0.5s;
}
.btn:hover{
    cursor: pointer;
    color: #ffd43b;
    border: 2px solid #ffd43b;
    box-shadow: 1px 1px 5px lightgoldenrodyellow;
}
.content-btn{
    padding: 30px;
    margin-left: 50px ;
}
@media screen and (max-width: 790px){
    .call-text{width: 90%;}
}
/*--------------------------------------------------------------------------------------------------diferenciais-----------------------------------------------------------------*/
section.difs {
    padding-bottom: 50px;
    color: white;
}
section.difs .container > h2 {
    font-size: 29px;
    text-align: center;
    padding: 25px 0;
}
section.difs .box-single-position {
    width: 100%;
    text-align: center;
    padding: 0 3% 20px 3%;
    display: flex;
}
section.difs .box-single {
    width: 30%;
    padding: 30px 0;
    border-radius: 10px;
    background-color: rgb(32, 65, 110);
    transition: 0.5s;
    margin: 4%;
    border: 3px solid rgb(32, 65, 110);
}
section.difs .box-single:hover{
    border: 3px solid #ffd43b;
    color: #ffd43b;
    box-shadow: 1px 1px 5px lightgoldenrodyellow;
}
section.difs .box-single .box-icon svg {
    font-size: 65px;
    color: #ffd43b;
}
section.difs .box-single h2 {
    padding: 20px 0px 15px 0;
}
section.difs .box-single p {
    padding: 0 20px;
}
section.difs .box-single p strong {
    color: #ffd43b;
}
@media screen and (max-width: 790px){
    section.difs .box-single-position{
        width: 85%;
        display: block;
        margin: 0 auto;
    }
    section.difs .box-single{
        width: 100%;
        margin: 0;
        margin-bottom: 4%;
    }
}
/*--------------------------------------------------------------------------------------conhecimentos--------------------------------------------------------*/
.fundo{
    border-radius: 10px;
    background-color:rgb(16, 38, 70);
}
section.conhecimentos {
    text-align: center;
    color: white;
    padding: 0px 0px 50px 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
section.conhecimentos .container > h2 {
    padding: 20px 0 25px 0;
}
section.conhecimentos .conhecimentos-position{
    display: flex;
    flex-wrap: wrap;
}
section.conhecimentos .conhecimentos-single {
    width: 33.333%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 790px){
    .fundo{
        height: 100%;
    }
    section.conhecimentos .conhecimentos-position{
        display: block;
    }
    section.conhecimentos .conhecimentos-single{
        width: 100%;
    }
}
section.conhecimentos .conhecimentos-single .conhecimentos-all {
    padding: 10px 15px;
    border-radius: 15px;
    border: 3px solid rgb(32, 65, 110);
    background-color: rgb(32, 65, 110);
    transition: 0.5s;
}
section.conhecimentos .conhecimentos-single .conhecimentos-all:hover {
    border: 3px solid #ffd43b;
    box-shadow: 1px 1px 5px lightgoldenrodyellow;
    color: #ffd43b;
}
section.conhecimentos .conhecimentos-single .conhecimentos-icon svg {
    font-size: 60px;
    color: #ffd43b;
}
section.conhecimentos .conhecimentos-single .conhecimentos-items {
    padding: 0 10px;
    align-self: center;
}
section.conhecimentos .conhecimentos-single .conhecimentos-items .conhecimentos-title {
    padding: 5px 0;
    font-size: 16px;
}
section.conhecimentos .conhecimentos-single .conhecimentos-items .conhecimentos-bar {
    width: 130px;
    border-radius: 20px;
    border: 1px solid white;
    transition: 0.4s;
}
section.conhecimentos .conhecimentos-single .conhecimentos-items .conhecimentos-bar p {
    padding: 0 10px;
}
/*------------------------------------------------------------------------------contato------------------------------------------------------*/
section.contato {
    padding: 50px 2% 0 2%;
    min-height: 719px;
    background-color: rgb(32, 65, 110);
}
section.contato .contact-mail {
    width: 100%;
    padding: 50px 0 0 0;
}
section.contato p {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: lighter;
    padding: 5px 0;
}
section.contato p>span {
    color: #ffd43b;
    font-weight: bold;
}

section.contato .social {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}
section.contato .soc-circle {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 3px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  rgb(16, 38, 70);
    transition: 0.5s;
}
section.contato .social a {
    text-decoration: none;
    margin: 0 15px;
}
section.contato .soc-circle svg {
    font-size: 24px;
    color: white;
    transition: 0.4s;
}
section.contato .soc-circle:hover{
    background-color: #ffd43b;
    border: 3px solid #ffd43b;
    box-shadow: 1px 1px 5px lightgoldenrodyellow;
}
@media screen and (max-width: 300px){
section.contato .social{display: block;}
}
/*------------------------------------------------------------------------------projetos------------------------------------------------------------------*/
section.projetos {
    color: white;
    padding: 0px 0px 60px 0;
}
section.projetos .container {
    padding: 0 2%;
}
section.projetos .container > h2 {
    padding: 30px 0;
    text-align: center;
}
section.projetos .projetos-position {
    width: 100%;
    display: flex;
}
section.projetos .proj-img {
    width: 50%;
    height: 400px;
    background-image: url(../imgs/projeto01.png);
    background-size: cover;
    border-radius: 20px 0 0 20px;
    filter: blur(1px);
    filter: grayscale(75%);
    transition: 0.4s;
    box-shadow: 5px 0px 10px rgb(0 0 0 / 60%);
}
section.projetos .proj-img:hover {
    width: 80%;
    height: 400px;
    box-shadow: 5px 0px 10px rgb(0 0 0 / 90%);
    filter: blur(0px);
    filter: grayscale(0%);
}
section.projetos .proj-txt-position {
    width: 50%;
    height: 400px;
    display: flex;
    background-color: rgb(16, 38, 70);
    border-radius: 0 20px 20px 0;
    transition: 0.5s;
}
section.projetos .proj-txt-position:hover {
    width: 80%;
    background-color: rgb(26, 48, 80);
}
section.projetos .proj-txt {
    color: #ffd43b;
    padding: 0 20px;
    text-align: center;
    align-self: center;
}
section.projetos .proj-txt p {
    color: white;
    padding: 20px 0;
}
section.projetos .proj-nav {
    position: relative;
    top: 0px;
    text-align: left;
}
section.projetos .proj-nav svg {
    color: white;
    font-size: 35px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
section.projetos .proj-nav svg:hover {
    color: #ffd43b;
    text-shadow: 5px 0px 20px lightgoldenrodyellow;
}
.slider {
    display: none;
}
@media screen and (max-width: 790px){
    section.projetos .projetos-position{
        display: block;
    }
    section.projetos .proj-img {
        width: 100%;
        height: 200px;
        background-size: cover;
        border-radius: 20px 20px 0 0px;
        filter: blur(1px);
        filter: grayscale(75%);
        transition: 0.4s;
        box-shadow: 5px 0px 10px rgb(0 0 0 / 60%);
        background-position: center ;
    }
    section.projetos .proj-img:hover {
        width: 100%;
        height: 400px;
        background-size: cover;
        border-radius: 20px 20px 0 0px;
        filter: blur(1px);
        filter: grayscale(0%);
        transition: 0.4s;
        box-shadow: 5px 0px 10px rgb(0 0 0 / 60%);
        background-position: center;
    }
    section.projetos .proj-txt-position{
        width: 100%;
        height: 300px;
        border-radius: 0 0px 20px 20px;
        background-color: rgb(16, 38, 70);
    }
    section.projetos .proj-txt-position:hover{
        width: 100%;
        height: 300px;
        background-color: rgb(16, 38, 70);
    }
}
/*---------------------------------------------------------------------------------------sobre-----------------------------------------------------*/
.perfil{
    width: 100%;
    height: 900px;
}
.centro{
    width: 80%;
    height: inherit;
    margin: auto;
    padding-top: 5%;
}
.fotos{
    float: left;
    top: 8%;
    width: 250px;
    height: 250px;
    background-image: url(../imgs/Perfil.png);
    background-size: 250px 250px;
    background-repeat: no-repeat;
    border-radius: 50%;
    filter: grayscale(70%);
    border: 2px solid rgb(16, 38, 70);
    margin: auto;
}
.fotos:hover{
    filter: grayscale(0%);
    border: 2px solid lightgoldenrodyellow;
}
.navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navegacao a{
    margin-right: 20px;
}
.sobre{
    width: 100%;
    height: auto;
    margin: 20px auto;
    background-color: rgb(26, 48, 80);
    border-radius: 10px;
    border: 3px solid rgb(32, 65, 110);
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 30px;
}
.experiencias{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
}
.experiencias ul{
    text-align: justify;
}
.formacao{
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 75%;
}

/*---------------------------------------------------------------------------------------footer-----------------------------------------------------*/
footer {
    width: 100%;
    height: 50px;
    color: white;
    background-color: rgb(32, 65, 110);
    padding: 15px 0;
    text-align: center;
    clear: both;

}
footer h2 {
    font-size: 15px;
    font-weight: lighter;
}